%h2
  Menu Guilt is a simple report card for helping you to support restaurants that respect our environment.  Please help by updating our database with the menu selections that your local restaurants are making.

#sidebar
  %h4
    Location
  %ul
    %li
      Select from list.
    %li
      Set zip code.


  %h4
    Information
  %ul
    %li
      Seafood Watch
    %li
      Greenpeace


#content
  %h4
    Restaurant
  %ul
    %li
      Restaurant
    %li
      Restaurant
    %li
      Restaurant
    %li
      Restaurant
