!!!Strict UTF-8
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      Menu Guilt
    %link{:rel=>"stylesheet", :href=>"/stylesheets/compiled/screen.css", :media=>"screen", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/stylesheets/compiled/print.css", :media=>"print", :type=>"text/css"}
    <!--[if IE]>
    %link{:rel=>"stylesheet", :href=>"/stylesheets/compiled/ie.css", :media=>"screen, projection", :type=>"text/css"}
    <![endif]-->

  %body.three-col
    #container
      #header
        = header_image

      = yield